PORT=5000
# Connection to MongoDB Atlas or Local instance
MONGO_URI=mongodb://localhost:27017/internflow
# JWT Secret for Auth
JWT_SECRET=yoursecretkeyhere
# Google Gemini API Key from https://aistudio.google.com/ (Must start with AIza)
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
